<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short Url</title>
    <script src="https://kit.fontawesome.com/f716f79e8c.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <h1>Url Shortner</h1>
    <form action="/shortUrls" method="post">
        <input type="text" name="fullURL" placeholder="Enter url" required>
        <button type="submit">Short me</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %> 

                <tr>
                    <td><a href="<%= shortUrl.full %> "><%= shortUrl.full %></a></td>
                    <td><a href="<%= shortUrl.short %> "><%= shortUrl.short %></a></td>
                    <td><%= shortUrl.clicks %> </td>
                    <td>
                        <a href="/deleteUrl/?id=<%= shortUrl._id %>">
                            <i class="fa-solid fa-circle-xmark"></i>
                            <!-- <a href="/temp">x</a> -->
                    </a>
                   </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>